<div>
  <app-game-control (numberGenerated)="onNumberGenerated($event)"></app-game-control>
</div>

<div *ngIf="oddNumbers.length > 0">
  <h2>Odd Numbers:</h2>
  <app-odd *ngFor="let number of oddNumbers" [number]="number"></app-odd>
</div>

<div *ngIf="evenNumbers.length > 0">
  <h2>Even Numbers:</h2>
  <app-even *ngFor="let number of evenNumbers" [number]="number"></app-even>
</div>

 <!--
asdasd
asdasd
  -->
 <!--
  <button (click)="toggleDetails()">Display Details</button>



<p *ngIf="displayDetails">Testing</p>

<ul>
  <li *ngFor="let log of logs; let i = index" [ngStyle]="{ 'background-color': i >= 4 ? 'blue' : 'transparent' }" [ngClass]="{ 'white-text': i >= 4 }">{{ log }}</li>
</ul>

  <h1>My Web App</h1>
  <app-personal-info></app-personal-info>
  <app-contact-info></app-contact-info>
  <app-educational-background></app-educational-background>
  <app-work-experience></app-work-experience>
  <app-warning-alert2></app-warning-alert2>
  <app-success-alert2></app-success-alert2>
  <app-warning-alert></app-warning-alert>
  <app-success-alert></app-success-alert>

-->




